<div>
  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
    <div>
      <span class="btn btn-success btn-file">
        <span class="fileinput-new">File Upload</span>
        <span class="fileinput-exists">Change</span>
        <input id="file" type="file" name="..." />
      </span>
      <button type="button" class="fileinput-exists btn btn-primary" (click)="upload()" >Submit</button>
      <br />
      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" >
        <i class="fa fa-times"></i> Remove</a>
    </div>
  </div>
</div>